NHFileDownloadManager-demo/NHFileDownloadManager-demo.xcodeproj/project.xcworkspace/xcuserdata/Wilson.xcuserdatad/UserInterfaceState.xcuserstate
NHFileDownloadManager-demo/NHFileDownloadManager-demo.xcodeproj/xcuserdata/Wilson.xcuserdatad/xcschemes/NHFileDownloadManager-demo.xcscheme
NHFileDownloadManager-demo/NHFileDownloadManager-demo.xcodeproj/xcuserdata/Wilson.xcuserdatad/xcschemes/xcschememanagement.plist
NHFileDownloadManager-demo/NHFileDownloadManager-demo.xcworkspace/xcuserdata/Wilson.xcuserdatad/UserInterfaceState.xcuserstate
NHFileDownloadManager-demo/NHFileDownloadManager-demo.xcworkspace/xcuserdata/Wilson.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
